body {
    overflow-x: hidden;
}

/* * {
    outline: 1px solid red;
} */

/* nav start */
.navbar {
    padding-top: 7vh;
    padding-left: 10vh;
}


.hero-img {
    position: absolute;
    top: -24vh;
    left: 122vh;
    width: 127vh;
    height: auto;
    z-index: -1;
}



/* --- RESPONSIVE FIX --- */
@media (max-width: 1000px) {
    .hero-img {
        position: static;
        display: block;
        width: 80%;
        height: auto;
        margin-top: 20px;
    }

    .navbar {
        padding: 0;
    }
}

.logout {
    color: aliceblue;
    background-color: rgb(255, 0, 0);
}

/* nav end */



/* home start */

.container-home {
    overflow-x: hidden;
    padding-left: 10vh;
}

.garis {
    width: 80px;
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
}

.home-p {
    max-width: 543px;
}

.block-text {
    display: block;
}

.btn-tentang {
    width: 280px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: black;
}

@media (max-width: 1000px) {
    .container-home {
        padding-left: 0vh;
    }
}
/* home end */



/* tentang start */
.container-tentang {
    max-width: 545px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
}

.garis-2 {
    width: 100px;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}

/* tentang end */





/* card start */
.container-card {
background-image: url(../ASET/Group\ 70@2x.png);
background-size: cover;
background-position: center;
width: 100%;
height: 100%;
}

.card {
    padding-top: 10;
}
